*{
    margin: 0;
    padding: 0;
}
body{ 
    background-color:rgb(52, 136, 52);
    text-align: center;
    justify-content: center;
      height: 100vh; 
}

.continer{
    height: 70vh;


}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
    margin: 200px;
 

   
}
.box{
      height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0.1);
    border-radius: 0.5rem;
     background-color: antiquewhite;
      font-size: 2.5rem;
      font-weight: bold;
      color: brown;

}
#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(106, 63, 200);
    color: white;
    border-radius: 1rem;
}
#new-btn{
     padding: 1rem;
     margin-top: 1.5rem;
     margin-bottom: 2px;
    font-size: 1.2rem;
    background-color: rgb(106, 63, 200);
    color: white;
    border-radius: 1rem;
}
#msg{
    font-size: 8vmin;
    color: aliceblue;
     margin-top: 2.5rem;
}
.msg-continer{
  height: 40vmin;  
}
.hide{
    display: none;
}
#reset-btn:hover, #new-btn:hover{
    background-color: rgb(171, 74, 213);

}
h1{
     background-color: blueviolet;
    padding: 10px;
    color: aliceblue;
}
footer{
    background-color: blueviolet;
    padding: 10px;
    margin-top: 15px;
    color: aliceblue;
}